        .app {
            width: 9000px;
            height: 5000px;
            background-color: black;
            overflow: hidden;

        }
         lable{       text-shadow: 10px 10px 10px black;}
                  input{       box-shadow: 10px 10px 10px gray;}